<h1>Write a New Message</h1><hr>



<%= f.label "Recipient" %>
<%= f.text_field :user_id, class: "form-control" %><br>
<%= f.label :content %>
<%= f.text_area :content, class: "form-control", :cols=>20, :rows=>6%><br>
<%= f.label :attachment %>
<%= f.file_field :attachment, class: "form-control" %><br>



<%= f.submit class: "btn btn-primary" %>

