
<h1>Log in</h1><hr>

<%= form_for(:session, url: login_path) do |f| %>

	<%= f.label :email %>
	<%= f.email_field :email, class: "form-control" %><br>

	<%= f.label :password %>
	<%= f.password_field :password, class: "form-control" %>
	<a href="users/new">Create Account</a><br><br>


	<%= f.submit "Log in", class: "btn btn-primary" %>
	
<% end %>
<h3>For Visitors, please feel free to use:</h3>
<h3>Email:</h3><p>guest@example.com</p>
<h3>Password:</h3><p>guest</p>	
