<!DOCTYPE html>
<html>
<head>
  <title>TaskApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div id='wrapper' class='container-fluid'>
  	<div class="header">
		<%= render "/layouts/navbar" %>
	</div>
<!-- 
  <h1><%= link_to "logout", logout_path, method: :delete %></h1><br> -->
  <div class="content">
	 <div class="container-fluid">
		<% flash.each do |message_type, message| %>
	    	<div class="alert alert-<%= message_type %>"><%= message %></div>
		<% end %>
		<%= yield %>

	 </div>
	</div>


	
  <div class="row footer">
  	<%= render "/layouts/footer" %>	
  </div>

</div>
</body>
</html>
